ul.pagination {
  margin: 10px 15px;
  display: inline-block;
}

ul.pagination.less {
  color: rgb(255, 190, 193);
}

ul.pagination.more {
  color: rgb(190, 255, 193);
}

ul.pagination.current {
  color: rgb(190, 193, 255);
}


ul.pagination li {
  display: inline-block;
  margin: 0 5px;
}